body
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
	"Jersey Unlucky";
	max-width: 1262.67px;
	margin: 0;
	font-family: Oswald, sans-serif;
}

.Jersey
{
	grid-area: Jersey;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, #2DED8A, #0DB25D);

}

.Jersey img
{
	max-height: 80%;
	width: auto;
}

.Unlucky
{
	grid-area: Unlucky;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, #4E5652, #818583);
	padding: 0 12px 0 12px;
	position: relative;
}

h1
{
	font-size: 2.8em;
	text-transform: uppercase;
	animation: bounce-in-left 1.5s ease 2;
}

@keyframes bounce-in-left
{
	0%
	{
		opacity: 0;
		transform: translateX(700px);
	}
	60%
	{
		opacity: 1;
		transform: translateX(-70px);
	}
	80%
	{
		transform: translateX(30px);
	}
	100%
	{
		transform: translateX(0);
	}
}

h2
{
	font-size: 1.6em;
}

.Woods
{
	color: #2DED8A;
}

button
{
	padding: 8px 10px 8px 8px;
	background-color: #0DB25D;
	border: 2px white solid;
	cursor: pointer;
	font-size: 1.2em;
	text-transform: uppercase;
	color: white;
	border-radius: 8px;
}

button:hover
{
	background-color: #2DED8A;
	color: black;
	border: 2px black solid;
    transform: scale(1.4);
	transition: 0.3s;
}